name: build images

on:
  push:
    branches:
      - master

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - id: build_args
        run: |
          echo '::set-output name=BUILD_DATE::$(date +'%Y-%m-%dT%H:%M:%S')'
          echo '::set-output name=VERSION::$(head -1 VERSION)'
      - name: Set up Docker Buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          buildx-version: latest
          qemu-version: latest
      - name: Run Buildx
        run: |
          DOCKER_IMAGE=emersonian/tor-simple
          docker buildx create --use --name build --node build --driver-opt network=host
          docker buildx build \
            --platform linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64 \
            --output "type=image,push=true" \
            --tag ${DOCKER_IMAGE}:latest \
            --tag ${DOCKER_IMAGE}:${{ steps.build_args.outputs.VERSION }} \
            --build-arg VERSION=${{ steps.build_args.outputs.VERSION }} \
            --build-arg BUILD_DATE=${{ steps.build_args.outputs.BUILD_DATE }} \
            --build-arg VCS_REF=${GITHUB_SHA::8} \
            .
      - name: Inspect Image
        run: |
          docker buildx imagetools inspect emersonian/tor-simple:latest
