name: latest version

on:
  schedule:
    - cron: '20 1 * * *'

jobs:

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get remote package data
        uses: wei/curl@master
        with:
          args: --silent "https://pkgs.alpinelinux.org/package/edge/community/x86_64/tor" --output package_data.html

      - name: Check remote version with local
        run: |
          grep -A 3 -i version package_data.html | sed -E 's#.*>([^-]+).*</a>#\1#g' | tail -1 | grep -q $(cat VERSION)
